@model RegisterViewModel
@{
    ViewData["Title"] = "Registro";
}

<h2>@ViewData["Title"]</h2>
<div asp-validation-summary="All" class="text-danger"></div>
<form asp-action="Register" method="post">
    <div class="form-group">
        <label asp-for="NombreUsuario"></label>
        <input asp-for="NombreUsuario" class="form-control" />
        <span asp-validation-for="NombreUsuario" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Email"></label>
        <input asp-for="Email" class="form-control" />
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Contraseña"></label>
        <input asp-for="Contraseña" type="password" class="form-control" />
        <span asp-validation-for="Contraseña" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="ConfirmarContraseña"></label>
        <input asp-for="ConfirmarContraseña" type="password" class="form-control" />
        <span asp-validation-for="ConfirmarContraseña" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-primary">Registrarse</button>
</form>
