@model SistemaVentas.Models.Usuario

<h2>Detalles del Usuario</h2>

<div>
    <h4>Nombre Usuario: @Html.DisplayFor(model => model.NombreUsuario)</h4>
    <!-- Agregar más detalles según sea necesario -->
</div>

<p>
    <a asp-action="Index">Volver a la lista</a>
</p>
